version: "3.9"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: sakila
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./src/schema:/docker-entrypoint-initdb.d:ro
    ports:
      - "5432:5432"

  app:
    build: .
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - .:/app:cached
